



<nav class="navbar navbar-light bg-light">
  <form class="form-inline form-friend-search">
    <input class="form-control mr-sm-2" type="search"  aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0 search-btn" type="submit">Search</button>
  </form>
</nav>

<div class="friend-div"></div>


{{!-- {{#each queryFriend}}
    <p>{{this.username}}</p>
    <p>{{this.image}}</p>
    <p>{{this.location}}</p>

{{/each}} --}}