

<header>

<nav class="navbar navbar-light nav-bar-main justify-content-between">
  <span class="navbar-brand text-light"><img class='header-img bg-white mr-0 pr-0 border' src='/images/spaceman2.png'>Space</span>
  <form class="form-inline">
    <button class="btn logout-btn" type="submit"><a href='/users/logout'>Logout</a></button>
  </form>
</nav>

</header>