

<header>

<nav class="navbar navbar-light bg-light justify-content-between">
  <span class="navbar-brand"><img class='header-img' src='/images/spaceman2.png'>Space</span>
  <form class="form-inline">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><a href='/users/logout'>Logout</a></button>
  </form>
</nav>

</header>