

<div class="container pb-4">



<form class="mx-auto mt-4 post-form" id="{{user.profileuserId}}">
    <div class="form-group mx-auto">
        <label for="headline-text" class="profile-text">Title</label>
        <input type="tet" class="form-control d-block" id="headline-text">
    </div>

    <div class="form-group mx-auto">
        <label for="post-text" class="profile-text">Post</label>
        <textarea class="form-control d-block" id="post-text" rows="3"></textarea>
    </div>

    <span id="small-error-update" class="text-danger warning-class mt-5" style="display: none">All fields must be filled</span>

    <button type="submit" class="btn btn-primary ml-auto wall-btn">Post</button>
</form>








</div>