{{> header }}

<div style="max-width: 800px" class="mx-auto">

{{> userdetails }}



<div class="container bg-darker nav-div pt-4 pr-1 pl-1">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Feed</a>
            <a class="nav-item nav-link" id="nav-wall-tab" data-toggle="tab" href="#nav-wall" role="tab" aria-controls="nav-wall" aria-selected="false">Wall</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Friends</a>
            <a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options" aria-selected="false">Options</a>

        </div>
    </nav>




    <div class="tab-content bg-darker" id="nav-tabContent">
        <div class="tab-pane fade p-3" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">{{> options}}</div>
        <div class="tab-pane fade p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">{{> feed}}</div>
        <div class="tab-pane fade w-100 p-3" id="nav-wall" role="tabpanel" aria-labelledby="nav-wall-tab">{{> wall}}</div>
        <div class="tab-pane fade p-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">{{> friends}}</div>
        


        <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby=""></div>
     </div>

</div>


</div>