


<div class="w-50 mx-auto h-50 landing-jumbo text-center">
    <h1 class='display-1 text-light mt-5'>Space Man</h1>
  <div class="container">
        <button type="button" class="btn btn-primary btn-lg btn-block landing-btn">Register</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block landing-btn2">Login</button>
    
    
  </div>
</div>