
<div class="container container-register">
    {{#each errors}}
        <span class="text-danger warning-class">{{msg}}</span>
    {{/each}}
    <span class='register-text text-white'>Register New User:</span>

    <form class='form-register' action="/users/register" method="POST"> 

        <div class="form-group row d-block mt-1 m-0">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10 mx-auto">
            <input type="email" class="form-control" id="email" name="email" autocomplete="on" value="{{email}}">
            </div>
        </div>

        <div class="form-group row d-block mt-1 m-0">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10 mx-auto">
            <input type="password" class="form-control" id="password" name="password" autocomplete="on" value="{{password}}">
            </div>
        </div>

        <div class="form-group row d-block mt-1 m-0">
            <label for="password2" class="col-sm-2 col-form-label d-inline">Confirm Password</label>
            <div class="col-sm-10 mx-auto">
            <input type="password" class="form-control" id="password2" name="password2" autocomplete="on" value="{{password2}}">
            </div>
        </div>

        <div class="form-group row d-block mt-5 m-0">
            <button type="submit" class="btn btn-primary btn-lg btn-block landing-btn btn-login">Create User</button>
        </div>

    </form>

        <div class="form-register-login">
            <span class='text-white'>Have an account? <a href="/users/login">Login here</a></span>
        </div>


    
</div>