html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Piazzolla', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-img {
    height: 50px;
    border-bottom: 1px solid white;
}

.navbar-brand {
    color: black;
    font-size: 34px;
}

.nav-bar-main {
    background-color: rgb(32, 92, 184);
}

.logout-btn {
    border-color: black;
    text-decoration: none !important;

}
.logout-btn a{
    color: beige;
}

.landing-main {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.landing-jumbo, .container-register, .container-login {
    background-position: center;
    background-image: url('/images/spaceman2.png');
    background-size: 250px;
    background-repeat: no-repeat;
    height: 800px !important;
    background-color: rgb(32, 92, 184);
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    display: flex;
    flex-direction: column;
    max-width: 600px !important;
}

.warning-class {
    position: absolute;
    font-size: 22px;
    text-align: center;
}



.landing-jumbom,  .container-landing{
    margin-top: 270px;
    
}

a:hover {
    text-decoration : none !important;
}


.landing-btn {
    background-color: rgb(255, 145, 0);
    color: beige;
    padding: 10;
    border: none;    
}
.landing-btn:focus, .landing-btn2:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}


 .landing-btn2:hover{
    background-color: transparent;
    outline: 1px solid beige !important;
}
.landing-btn:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 145, 0) !important;
}

.landing-btn2  {
    background-color: beige;
    color: rgb(255, 145, 0);
    padding: 0;
    border: none;
    margin-top: 5px;

}

.form-register-login {
    margin-top: 20px;
    font-size: 15px;
}

.form-register-login a{
    color: rgb(255, 145, 0);
}

.form-register-login a:hover{
    text-decoration: underline !important;
}


.register-text {
    font-size: 25px;
    margin-top: 225px;
}


.form-register {
    margin-top: 25px;
    color: white;
}

.btn-create {
    width: 200px;
    margin: auto;
}






.form-login-register {
    margin-top: 20px;
    font-size: 15px;
}

.form-login-register a {
    color: beige
}

.form-login-register a:hover {
    text-decoration: underline !important;
}

.login-text {
    font-size: 25px;
    margin-top: 225px;
}


.form-login {
    margin-top: 25px;
    color: white;
}

.btn-login {
    width: 200px;
    margin: auto;
}


/* register page */

.lead-text {
    font-size: 25px;

}

.lead-reg-div {
    margin-top: 30px;
    margin-bottom: 20px;
}

#img-error-msg{
    height: 20px;
}

.landing-btn3 {
     background-color: rgb(255, 145, 0);
    color: beige;
    padding: 10;
    border: none;    
}

.landing-btn3:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 145, 0) !important;
}

.landing-btn3:focus {
    background-color: rgb(255, 145, 0) !important;
    box-shadow: none !important;
}

/* user details  */
.nav-div a{
    color: black  
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.nav-item.nav-link.active {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.user-profile{
    /* border-bottom: 1px black solid; */
}

.profile-text {
    color: rgb(255, 145, 0);
    font-size: 12px;
}

.profile-image {
    border-radius: 25%;
}

/* options tab */

.update-btn {
    background-color: rgb(32, 92, 184);
}

#image-update {
    width: 225px;
}

.upload-image-pagebtn {
    margin: auto;
}


@media (max-width: 550px) {

div.float-picture {
    float: none !important;
}

}