html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Piazzolla', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.landing-main {
    background: url('/images/background2.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.landing-jumbo {
    background-position: center;
    background-image: url('/images/spaceman2.png');
    background-size: 250px;
    background-repeat: no-repeat;
    height: 800px !important;
    background-color: rgba(0, 0, 0, 0.253);
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    display: flex;
    flex-direction: column;
    
}
.landing-jumbo .container {
    margin-top: 270px;
    width: 70%;
}



.landing-btn {
     background-color: rgb(255, 145, 0);
    color: beige;
    padding: 10;
    border: none;    
}
.landing-btn:focus, .landing-btn2:focus{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}


.landing-btn:hover, .landing-btn2:hover{
    background-color: transparent;
}


.landing-btn2 {
    background-color: beige;
    color: rgb(255, 145, 0);
    padding: 0;
    border: none;
}